:root {
    /* --canvas-ripple-100: #DCAE8C;
    --canvas-ripple-200: #D59E76;
    --canvas-ripple-300: #CD8E5E;
    --canvas-ripple-400: #C47E46;
    --canvas-ripple-500: #BC6E29; */

    --canvas-ripple-100: #DF9791;
    --canvas-ripple-200: #D6827C;
    --canvas-ripple-300: #CD6D68;
    --canvas-ripple-400: #C35753;
    --canvas-ripple-500: #B9403F;
}

:root[data-theme=light] {
    --bg: #F2EED5;
    --canvas-shape: #1E2F3E;
}

:root[data-theme=dark] {
    --bg: #1E2F3E;
    --canvas-shape: #F2EED5;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: var(--bg);
}

canvas {
    display: block;
}