:root[data-theme="light"] {
	--bg: #f2eed5;
	--canvas-shape: #1e2f3e;

	--canvas-ripple-100: #890ca6;
	--canvas-ripple-200: #790d92;
	--canvas-ripple-300: #6a0f7f;
	--canvas-ripple-400: #5a106c;
	--canvas-ripple-500: #4b1059;
}

:root[data-theme="dark"] {
	--bg: #1e2f3e;
	--canvas-shape: #f2eed5;

	--canvas-ripple-100: #890ca6;
	--canvas-ripple-200: #972cb0;
	--canvas-ripple-300: #a545ba;
	--canvas-ripple-400: #b35cc4;
	--canvas-ripple-500: #c073ce;
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
}

body {
	background-color: var(--bg);
}
